## data dictionary

### patient id
an integer between 11 and 14 digits long that identifies the patient uniquely. There are repeat patient ids, meaning that the same patient has returned several times to the clinic.

### appointment id
an integer that is 7 digits long that identifies an appointment uniquely. There are no duplicate appointment ids.

### gender
a string that is either 'F' or 'M', designating female and male respectively. There are no other values. 

### scheduled day
a dates time string in the format 'YYYY-MM-DDThh:mm:ssZ' that represents the date and time the appointment is scheduled on,i.e. the day the person booked the appointment.

### appointment day
a date time string in the format 'YYYY-MM-DDThh:mm:ssZ' that represents the date and time the appointment is for. 

### age
integer representing the age the patient

### neighborhood
string representing the name of the neighborhood of Vitoria, Brazil.

### scholarship
a binary integer value that represents whether the patient received a scholarship. This scholarship signifies a government program of financial assistance to the poor exchange for good school attendance by by the recipient's children.

### hypertension
a binary integer value that represents whether the patient has hypertension,a.k.a. high blood pressure.

### diabetes
a binary integer value that represents whether the patient has diabetes.

### alcoholism
the binary integer value that represents whether the patient is an alcoholic.

### handicap
an integer value that represents the degree of handicap the patient has. the scale is from integers 0 to 4.

### sms received
a binary integer value that represents whether the patient received an sms to remind them of their appointment.

### no show
a string value that is either 'No' or 'Yes' that signifies whether the patient did not show up to their appointment.

## basic exploration

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

appointments = pd.read_csv("appointments_raw.csv")

In [2]:
appointments.shape

(110527, 14)

In [3]:
appointments.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [17]:
for column in appointments.columns:
    print('\n',column)
    display(appointments[column].value_counts().head())

 PatientId

8.221459e+14    88
9.963767e+10    84
2.688613e+13    70
3.353478e+13    65
2.584244e+11    62
Name: PatientId, dtype: int64

 Gender

F    71840
M    38687
Name: Gender, dtype: int64

 ScheduledDay

2016-05-06T07:09:54Z    24
2016-05-06T07:09:53Z    23
2016-04-25T17:17:46Z    22
2016-04-25T17:18:27Z    22
2016-04-25T17:17:23Z    19
Name: ScheduledDay, dtype: int64

 AppointmentDay

2016-06-06T00:00:00Z    4692
2016-05-16T00:00:00Z    4613
2016-05-09T00:00:00Z    4520
2016-05-30T00:00:00Z    4514
2016-06-08T00:00:00Z    4479
Name: AppointmentDay, dtype: int64

 Age

0     3539
1     2273
52    1746
49    1652
53    1651
Name: Age, dtype: int64

 Neighbourhood

JARDIM CAMBURI     7717
MARIA ORTIZ        5805
RESISTÊNCIA        4431
JARDIM DA PENHA    3877
ITARARÉ            3514
Name: Neighbourhood, dtype: int64

 Scholarship

0    99666
1    10861
Name: Scholarship, dtype: int64

 Hipertension

0    88726
1    21801
Name: Hipertension, dtype: int64

 Diabetes

0    102584
1      7943
Name: Diabetes, dtype: int64

 Alcoholism

0    107167
1      3360
Name: Alcoholism, dtype: int64

 Handcap

0    108286
1      2042
2       183
3        13
4         3
Name: Handcap, dtype: int64

 SMS_received

0    75045
1    35482
Name: SMS_received, dtype: int64

 No-show

No     88208
Yes    22319
Name: No-show, dtype: int64